.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS.map {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.THIS.topElements {
	position:fixed;
	top:85%;
	width:100%;
}
.THIS .addressInput {
	font-size: 25pt;
	vertical-align: top;
	text-align: center;
}
.THIS .SearchButton {
	height:43px;
	width:43px;
	vertical-align: top;
	margin:0;
	background: url(/servlet/servlet.ImageServer?id=01558000000U0As&oid=00D58000000YQ1e) no-repeat;
	background-size: cover;
	border:0;
}
.THIS .SearchButton:active {
	background: url(/servlet/servlet.ImageServer?id=01558000000U0Ax&oid=00D58000000YQ1e) no-repeat;
	background-size: cover;
}